# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/frontend/node_modules/
/frontend/dist/
/backend/target/
/backend/data/mikie_sportswear.db
/backend/uploads/


# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Vite
dist/
.vite/


# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
dependency-reduced-pom.xml


# IDE Files
.idea/
*.iml
.vscode/


# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local