.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 10vh;
    display: flex;
    color: black;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}