.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 80px;
    display: flex;
    color: black;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.header div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}